<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List popular languages for Data Science
- List commonly used libraries for Data Scientists
- List Tools for Data Science 
- Conduct arithmetic expression in Python

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:

1. Python 
2. R
3. SQL
4. JavaScript

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. SciPy
4. Scikit-Learn

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Tableau|
|Apache Spark|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers**

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5
# Result: 17

17

**Exercise 9 - Create a code cell to convert minutes to hours**

This will convert 200 minutes to hours by diving by 60

In [4]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author

Enetomhe Cornelius